

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  /* background: #f4f2f2; */
  /* background: #f4f2f2; */
  /* font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
font-family: 'Roboto', sans-serif;
  @media only screen and (max-width: $bp-large) {
      font-size: 50%;
  } */
}


/* body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
} */